body {
  background-color: rgb(211, 219, 217);
}

.wrapper {
  display: flex;
  justify-content: center;
}

.backgroundColorGray {
  background-color: #e4d7d7;
  padding: 50px;
}

.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;
  border: 6px solid #008e86;
  width: fit-content;
}
