.wrapper {
    display: flex;
    justify-content: center;
  }

  .controlButtons {
    outline: none;
    background: none;
    border: 0;
    font-size: 60px;
  }
  
  .controlButtons:hover {
    color: #38cec4;
  }